@model CodeFlow.core.Models.Comment

<div class="so-comment">
    @if (Model.User != null)
    {
        <span class="so-comment-user">
            – 
            <a asp-controller="Profile" asp-action="UserProfile" asp-route-id="@Model.User?.Id">
                <strong>@Model.User?.DisplayName</strong>
            </a>
        </span>
    }
    <span class="so-comment-date">
        @Model.CreatedAt.ToString("MMM dd 'at' HH:mm")
    </span>
    <span class="so-comment-body">@Model.Body</span>
</div>
<hr class="so-comment-divider" />
