@model IEnumerable<CodeFlow.core.Models.Question>

@foreach (var question in Model)
{
    <a asp-controller="Questions" asp-action="Details" asp-route-id="@question.Id">
        <div class="activity-item mb-1 pb-1 border-bottom">
            <p class="row mb-2 text-muted small">
                <span class=" col-1 p-1 fw-bold" style="color: orange">@question.Score</span>
                <span class=" col-8 p-1">
                    @question.Title
                </span>
                <span class="col-3 p-1">
                    @question.CreatedAt
                </span>
            </p>
        </div>
    </a>
}