@model CodeFlow.Web.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    var returnUrl = ViewData["ReturnUrl"] ?? Url.Content("~/");
}

<div class="container mt-4">
    <div class="mb-4">
        <h1>Create a new account</h1>
    </div>
    <hr />
    <form asp-action="Register" method="post">
        <input type="hidden" name="returnUrl" value="@returnUrl" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3">
            <label asp-for="DisplayName"></label>
            <input asp-for="DisplayName" class="form-control"/>
            <span asp-validation-for="DisplayName" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
        <a href="@returnUrl" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}